{% extends "storage/base/base.html" %}

{% load static %}

{% block content %}
    <div class="page-content">

        <div class="page-content__wrapper">

            <div class="page-content--center">
                <a class="button button--bold mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" href="{% url 'product_add_url' %}"> Добавить новый товар </a>
            </div>

            <div class="disabled page-content--center">
                <form action="#">
                    <div class="textfield mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="textfield__input mdl-textfield__input" id="sample3" type="text" autocomplete="off">
                        <label class="textfield__label mdl-textfield__label" for="sample3"><i class="material-icons">search</i></label>
                    </div>
                </form>
            </div>

        </div>

        {% include "storage/includes/product-card-list.html" %}

    </div>
{% endblock %}
