{% extends "storage/base/base.html" %}

{% load static %}

{% block content %}
    <div class="page-content">

        <div class="page-content__wrapper">
            <div class="mdl-grid">

                <div class="mdl-cell mdl-cell--6-col">
                    <div class="card mdl-card demo-card-square mdl-card mdl-shadow--2dp">
                        <figure class="card__media mdl-card__media">
                            <img class="card__media-image" src="{{ product.image.url }}">
                        </figure>
                        <div class="card__title mdl-card__title">
                            <h2 class="card__title-text mdl-card__title-text"> {{ product.name }} </h2>
                        </div>
                    </div>
                </div>

                <div class="info mdl-cell mdl-cell--6-col">

                    <p class="info__text">
                        <span class="info__text--bold"> Название:&ensp; </span>
                        <span> {{ product.name }} </span>
                    </p>

                    <p class="info__text">
                        <span class="info__text--bold"> Артикул:&ensp; </span>
                        <span> {{ product.articul }} </span>
                    </p>

                    {% if product.category %}
                        <p class="info__text">
                            <span class="info__text--bold"> Категория:&ensp; </span>
                            <span> {{ product.category }} </span>
                        </p>
                    {% else %}
                        <p class="disabled info__text">
                            <span class="info__text--bold"> Категория:&ensp; </span>
                            <span> {{ product.category }} </span>
                        </p>
                    {% endif %}

                    <p class="info__text">
                        <span class="info__text--bold"> Цена:&ensp; </span>
                        <span> {{ product.price }} </span>
                    </p>

                    <p class="info__text">
                        <span class="info__text--bold"> Количество на складе:&ensp; </span>
                        <span> {{ product.amount }} </span>
                    </p>

                    <p class="info__text">
                        <span class="info__text--bold"> Размер:&ensp; </span>
                        <span> {{ product.size }} </span>
                    </p>
                </div>

            </div>
            
            <div class="button-list button-list--end">
                <a class="button-list__item button button--bold mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" href="{% url 'product_list_url' %}"> Вернуться </a>
                <a class="button-list__item button button--bold mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" href="{{ product.get_delete_url }}"> Удалить </a>
                <a class="button-list__item button button--bold mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" href="{{ product.get_update_url }}"> Редактировать </a>
            </div>

        </div>

    </div>
{% endblock %}
