extends layout/wrapper

block content
    .page-content__wrapper
        .mdl-grid
            .mdl-cell.mdl-cell--6-col
                .card.mdl-card.demo-card-square.mdl-card.mdl-shadow--2dp
                    figure.card__media.mdl-card__media
                        img.card__media-image(src="images/card-demo.jpg")
                    .card__title.mdl-card__title
                        h2.card__title-text.mdl-card__title-text "Название Продукта"
            .info.mdl-cell.mdl-cell--6-col
                p.info__text
                    span.info__text--bold Название:&ensp;
                    span "Название Продукта"
                p.info__text
                    span.info__text--bold Артикул:&ensp;
                    span "Артикул Продукта"
                p.info__text
                    span.info__text--bold Категория:&ensp;
                    span "Категория Продукта"
                p.info__text
                    span.info__text--bold Цена:&ensp;
                    span "Цена Продукта"
                p.info__text
                    span.info__text--bold Количество на складе:&ensp;
                    span "Количество Продукта"
                p.info__text
                    span.info__text--bold Размер:&ensp;
                    span "Размер Продукта"
        .button-list.button-list--end
            a.button-list__item.button.button--bold.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect(href="./index.html") Вернуться
            a.disabled.button-list__item.button.button--bold.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect(href="#") Удалить
            a.disabled.button-list__item.button.button--bold.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect(href="./product-add.html") Редактировать
