header.header.mdl-layout__header
    .mdl-layout__header-row
        span.mdl-layout-title Хранилище Авантаж
        .mdl-layout-spacer
        nav.mdl-navigation.mdl-layout--large-screen-only
            a.mdl-navigation__link(href="./index.html") Домой
            a.mdl-navigation__link(href="./product-add.html") Добавить товар

.mdl-layout__drawer
    nav.mdl-navigation
        a.mdl-navigation__link(href="./index.html") Домой
        a.disabled.mdl-navigation__link(href="./product-add.html") Добавить товар
