.mdl-grid
    - for (var i = 0; i < 7; i++)
        .card.mdl-card.mdl-cell.mdl-cell--4-col.demo-card-square.mdl-card.mdl-shadow--2dp
            figure.card__media.mdl-card__media
                img.card__media-image(src="images/card-demo.jpg")
            .card__title.mdl-card__title
                h2.card__title-text.mdl-card__title-text Костюм "Профессионал"
            .card__supporting.mdl-grid
                .mdl-cell.mdl-cell--4-col.mdl-cell--hide-tablet.mdl-cell--hide-phone
                    a.button.mdl-button.mdl-js-button.mdl-button--fab(href="#")
                        i.material-icons delete
                .mdl-cell.mdl-cell--4-col.mdl-cell--hide-phone
                    a.button.mdl-button.mdl-js-button.mdl-button--fab(href="./product-add.html")
                        i.material-icons settings
                .mdl-cell.mdl-cell--4-col
                    a.button.mdl-button.mdl-js-button.mdl-button--fab(href="./product-detail.html")
                        i.material-icons more