doctype html
html

    head

        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css")
        link(rel="stylesheet" href="./styles/style.css")
        title Хранилище Авантаж

    body

        .mdl-layout.mdl-js-layout.mdl-layout--fixed-header

            include ../modules/header

            main.mdl-layout__content
                .page-content
                    block content

        script(src="./scripts/script.js")
        script(src="https://code.getmdl.io/1.3.0/material.min.js")
